{# templates/galerie/index.html.twig #}

{# Affichage des images #}
<div class="galerie">
    {% for image in images %}
        <img src="{{ asset('images/' ~ image) }}" alt="Image">
    {% endfor %}
</div>

{# Lien vers la page suivante #}
<div class="navigation">
    <a href="{{ path('galerie', {'page': page + 1}) }}">Page suivante</a>
</div>
